<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">LsGalleryMigrate</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<settings>{page}admin/</settings>
	<version>1.0.0</version>
	<requires>
		<livestreet>0.5.0</livestreet>
		<plugins>
            <plugin name="lsgallery" version="0.2.4" condition="eq">lsgallery</plugin>
            <plugin name="gallery" version="2.0.1" condition="eq">gallery</plugin>
		</plugins>
	</requires>
	<description>
		<lang name="default">Migrate to lsgallery</lang>
		<lang name="russian">Миграниця на lsgallery</lang>
	</description>
</plugin>